In [1]:
fruits = ["apple","banana","orange"]

In [2]:
for each in fruits:
    print(f"Fruit {each}")

print("completed")

Fruit apple
Fruit banana
Fruit orange
completed

In [3]:
for ch in "Hello":
    print(ch)

H
e
l
l
o

In [4]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list(range(10,100,5))

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [6]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
for i in range (6,0,-1):
 
    print("*"*i)

******
*****
****
***
**
*

## Nested for loop

In [30]:
adj = ["red", "big", "tasty"]
fruits =["apple", "banana", "orange"]

In [31]:
for a in adj:
    for f in fruits:
        print(a,f)

red apple
red banana
red orange
big apple
big banana
big orange
tasty apple
tasty banana
tasty orange

In [4]:
person = {
    "name" : "vince",
    "age" : 30,
    "gender" : "male"
}
person_list = list(person.items())
person_list

[('name', 'vince'), ('age', 30), ('gender', 'male')]

In [5]:
for each in person_list:
    print(each)

('name', 'vince')
('age', 30)
('gender', 'male')

In [7]:
for (key, value) in person_list:
    print(f" Key :{key} = {value}")

 Key :name = vince
 Key :age = 30
 Key :gender = male

In [8]:
coord = [[1,2,3],[4,5,6],[7,8,9]]
print(coord)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [12]:
for x ,y, z in coord:
    print(x,y,z)

1 2 3
4 5 6
7 8 9

In [18]:
number = int(input("Enter a number"))

for i in range(1,11):
     print(number, 'x', i, '=', number*i)

Enter a number 55

55 x 1 = 55
55 x 2 = 110
55 x 3 = 165
55 x 4 = 220
55 x 5 = 275
55 x 6 = 330
55 x 7 = 385
55 x 8 = 440
55 x 9 = 495
55 x 10 = 550

In [22]:
numbers = [2,5,3,6,7,33,5,8,68,0,12,4,6,66,9,101,55,32,89] 

even_numbers = []
odd_numbers = []

for num in numbers:
    if num %2 !=0:
        odd_numbers.append(num)
    else:
        even_numbers.append(num)

print(f" Given numbers are : {numbers}")
print(f" Even numbers are : {even_numbers}")
print(f" Odd numbers are : {odd_numbers}")

 Given numbers are : [2, 5, 3, 6, 7, 33, 5, 8, 68, 0, 12, 4, 6, 66, 9, 101, 55, 32, 89]
 Even numbers are : [2, 6, 8, 68, 0, 12, 4, 6, 66, 32]
 Odd numbers are : [5, 3, 7, 33, 5, 9, 101, 55, 89]