In [1]:
i = 0
while i < 5:
    print(i)
    i+=1

0
1
2
3
4

In [2]:
i = 0
while i < 10:
    print(i)
    i+=1

    if i == 5:
        break

0
1
2
3
4

In [3]:
for i in range(10):
    print(i)
    if i == 5:
        break

0
1
2
3
4
5

In [4]:
names = ["Simon", "Jesus","John"]

for name in names:
    if name == "Jesus":
        continue
    
    print(name)

Simon
John

In [7]:
number= int(input("Enter a number"))
total_prod= 1
i =1
while i <=number:
    total_prod *=i
    i+=1
    
        

print(f"The product of the first {number} natural numbers is: {total_prod}")

Enter a number 5

The product of the first 5 natural numbers is: 120

In [8]:
sum(range(100+1))

5050